* {
  box-sizing: border-box;
}

body {
  margin: 0;
  max-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.space {
  white-space: normal;
}
