* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Zilla Slab", sans-serif;
  font-size: 35px;
}

.letters {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: flex-end;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.done {
  background-color: red;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  font-size: large;
  border: none;
}

.center {
  text-align: center;
}

.space {
  white-space: pre;
}

.correct {
  color: limegreen;
  white-space: pre;
}

.wrong {
  color: red;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 10px;
  white-space: pre;
}

.hide {
  display: none;
}
