.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

body {
  background-color: rgb(255 255 255);
}

.text-center {
  text-align: center;
}

.font-400 {
  font-family: karla, sans-serif;
  font-weight: 400;
}

.font-700 {
  font-family: karla, sans-serif;
  font-weight: 700;
}

.letter-spacing {
  letter-spacing: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.padding-sides {
  padding: 0 70px;
}

.col-one-fourth {
  width: 25%;
}

.padding-left {
  padding-left: 50px;
}

.padding-top {
  padding-top: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 16px;
}

.pd-b {
  padding-bottom: 50px;
}

.wrap {
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  text-align: center;
  padding-left: 50px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

button {
  border: 1px solid rgb(209 76 69);
  background-color: white;
  color: rgb(209 76 69);
  padding: 5px 30px;
  font-family: lato, sans-serif;
}
