.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.text-center {
  text-align: center;
}

.font-400 {
  font-family: karla, sans-serif;
  font-weight: 400;
}

.font-700 {
  font-family: karla, sans-serif;
  font-weight: 700;
}

.letter-spacing {
  letter-spacing: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.padding-sides {
  padding: 0 70px;
}

.col-one-fourth {
  width: 25%;
}

.padding-left {
  padding-left: 60px;
}

.padding-top {
  padding-top: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 16px;
}

.pd-b {
  padding-bottom: 50px;
}
